* {
  margin: 0;
  padding: 0;
}
body {
  /* color: #fff;
  background-color: rgb(0, 0, 0); */
  overflow-x: hidden;
}
.app {
  display: flex;
  padding: 20px 50px;
}
.appHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.appLeft {
  flex: 0.7;
  margin-right: 20px;
}
.appRight {
  flex: 0.3;
}
.infoBoxContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 740px) {
  .app {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
