.news {
  width: 95%;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
}

.newsCard {
  margin: 10px 20px;
  border-radius: 20px !important;
}
.newsContent {
  display: flex;
}
.newsContent img {
  margin-right: 20px;
  width: 300px;
  height: 200px;
}
.newsContent h1 {
  font-size: 25px;
  font-weight: 300;
}
.newsSub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsSub a {
  text-decoration: none;
}
.button {
  color: #fff !important;
  border: 2px solid rgb(4, 161, 109) !important;
  transition: all 0.5s ease-in-out;
}
.button:hover {
  color: rgb(4, 161, 109) !important;
}
