.table {
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  color: #fff;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table tr:nth-child(odd) {
  background-color: rgb(83, 83, 83) !important;
}

.table td {
  padding: 7px;
}
